.card {
  border: 2px solid #00000033;
  min-height: 150px;
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
  display: flex;
}
.card-img {
  height: 80px;
  width: 80px;
  background-color: #00000033;
}
.card-body {
    margin:15px;
}