.cart {
    display: none;
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 15px 10px 10px #dbdbdb;
}
.cart header {
    height: 50px;
    background-color: #00000033;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart span {
    position: absolute;
    left: 20px;
    cursor: pointer;
}
.cart-body {
    padding: 20px 10px;
}