.dropdown .menu-enter {
  cursor: pointer;
  font: normal normal 600 16px "OpenSans-SemiBold";
}
.dropdown .menu-enter::after{
  content: url(../assets/icon-arrow-down.svg);
  transform: rotate(180deg);
  position: absolute;
  margin-left: 5px;
  margin-top: 3px;
}
.dropdown:hover .menu-enter::after{
  content: url(../assets/icon-arrow-down.svg);
  transform: rotate(0deg);
  position: absolute;
  margin-top: -3px;
}
.dropdown ul {
  display: none;
  position: absolute;
  margin-left: -70px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000033;
  width: 100%;
  max-width: 144px;
  padding: 10px 0;
  border-top: 5px solid #FFFFFF;
}
.dropdown ul li {
  height: 25px;
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
  font: normal normal bold 15px "OpenSans-Bold";
}
.dropdown:hover ul {
  display: block;
}
.dropdown ul li:hover {
  background-color: #F1F1F1;
  font: normal normal 600 15px "OpenSans-SemiBold";
}
@media (max-width:1000px) {
  .dropdown ul {
    width: 100%;
    max-width: 100%;
    left: 0;
    margin: 0;
    margin-top: 20px;
  }
}