.dropdown p {
  cursor: pointer;
}
.dropdown p::after{
  content: url(../assets/icon-arrow-down.svg);
  transform: rotate(180deg);
  position: absolute;
  margin-left: 5px;
  margin-top: 3px;
}
.dropdown:hover p::after{
  content: url(../assets/icon-arrow-down.svg);
  transform: rotate(0deg);
  position: absolute;
  margin-top: -3px;
}
.dropdown ul {
  display: none;
  position: absolute;
  margin-left: -70px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000033;
  width: 100%;
  max-width: 144px;
  padding: 10px 0;
  border-top: 5px solid #FFFFFF;
}
.dropdown ul li {
  height: 25px;
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
}
.dropdown:hover ul {
  display: block;
}
.dropdown ul li:hover {
  background-color: #F1F1F1;
}
@media (max-width:1000px) {
  .dropdown ul {
    
  }
}