.menu {
  display: flex;
  flex-wrap: wrap;
}
.menu-stripe,
.menu--stripe-inner,
.menu-contacts,
.menu-callpages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu-stripe {
  background: #F1F1F1;
  width: 100%;
  height: 32px;
  padding: 0 30px;
}
.menu--stripe-inner {
  max-width: 1100px;
  margin: auto;
}
.menu-contacts {
  max-width: 300px;
  color: #000000;
  font: normal normal 600 12px 'OpenSans-SemiBold';
}
.menu-contacts li:first-child::before {
  content: url(../assets/icon-phone.svg);
  position: absolute;
  margin-left: -20px;
  margin-top: -1px;
}
.menu-contacts li:last-child::before {
  content: url(../assets/icon-whats.svg);
  position: absolute;
  margin-left: -20px;
  margin-top: 2px;
}
.menu-callpages {
  max-width: 500px;
  padding: 0 10px;
}
.menu-callpages li a {
  color: #000000;
  text-transform: uppercase;
  font: normal normal bold 11px 'OpenSans-Bold';
}
.menu-callpages li a:hover {
  opacity: 0.5;
}
.menu-nav {
  height: 110px;
  width: 100%;
  background: #FFFFFF;
  margin: auto;
  padding: 30px;
}
.menu--inner {
  max-width: 1050px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu--inner img {
  max-width: 139px;
}
.menu--inner label::after {
  content: url(../assets/icon-search.svg);
  position: absolute;
  margin-top: 15px;
  margin-left: -30px;
}
.menu--inner input {
  width: 670px;
  height: 50px;
}
.menu--inner input::placeholder {
  font: normal normal bold 14px 'OpenSans-Regular';
  color: #000000;
}
.menu--itens {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 120px;
}
.bag-buy {
  max-height: 27px;
  max-width: 24px;
  cursor: pointer;
}
.bag-buy:hover {
  transform: scale(1.1);
}
span[data-qnt] {
  content: "";
  width: 18px;
  height: 15px;
  background-color: #000000;
  border-radius: 100%;
  padding: 10px;
  position: absolute;
  margin-left: -13px;
  margin-top: 10px;
}
span[data-qnt]::after {
  content: attr(data-qnt);
  text-align: center;
  font-size: 11px;
  position: relative;
  top: -10px;
  margin-left: -2.5px;
  color: #FFFFFF;
  letter-spacing: 0px;
  z-index: 3;
}
body {
  width: 100vw;
  height: 100%;
  background-color: #F1F1F1;
  overflow: auto;
}
@media (max-width:1000px) {
  .menu-stripe {
    height: fit-content;
    padding: 5px;
  }

  .menu-stripe .menu-contacts {
    position: absolute;
    left: 30px;
    top: 35px;
    max-width: 40px;
  }

  .menu-stripe .menu-contacts li p {
    display: none;
  }
  .menu-stripe .menu-contacts li:hover > p {
    width: 100px;
    text-align: center;
    position: absolute;
    margin-left: -15px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px 1px rgb(173, 173, 173);
    padding: 5px;
    display: block;
    border-radius: 4px;
  }

  .menu--stripe-inner {
    flex-direction: column;
  }

  .menu-nav {
    height: fit-content;
    padding: 10px;
  }

  .menu--inner {
    display: block;
    text-align: center;
  }
  .menu--inner label::after {
    margin-top: 35px;
  }
  .menu--inner input {
    width: 100%;
    max-width: 670px;
    margin: 20px 0;
  }

  .menu--itens {
    margin: auto;
  }
}
@media (max-width:351px) {
  .menu-stripe {
    padding: 0;
  }
  .menu-callpages {
    display: none;
  }
}
@media (max-width:294px) {
  .menu-stripe .menu-contacts  {
    top: 0;
    left: auto;
    right: auto;
  }
  .menu--inner img {
    margin-top: 20px;
  }
  .menu--inner input::placeholder {
    color: transparent;
  }
}