*, 
*::before, 
*::after {
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;    
}
img {
    height: auto;
    width: 100%;
}
input {
  background: #FFFFFF;
  border: 2px solid #DFDFDF;
  border-radius: 5px;
  padding: 20px;
}
input:focus-within {
  box-shadow: 0px 2px 10px 1px rgb(224, 224, 224);
  transform: scale(1.01); 
}